name: Maven Build and Run Java Test

on:
  push:
    branches:
      - main
      - feat-ci
      - feat-library

jobs:
  library-test:
    runs-on: ubuntu-latest

    services:
      db:
        image: mysql:5.7
        env:
          MYSQL_DATABASE: library
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up MySQL
      run: |
        sleep 10
        mysql --host 127.0.0.1 --port 3306 -uroot library < library/migrations/mysql_schema.sql

    - name: Verify DB exists
      run: mysql --host 127.0.0.1 --port 3306 -uroot -e "SHOW DATABASES LIKE 'library'"

    - name: Verify tables exists
      run: mysql --host 127.0.0.1 --port 3306 -uroot library -e "SHOW TABLES"

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
        check-latest: true

    - name: Run Java Lint
      run: ./javalint.sh library/src

    - name: Build with Maven
      run: cd library && mvn clean package -DskipTests -Dmaven.javadoc.skip=true -B -V

    - name: Run Maven Test
      run: cd library && mvn test -Dspring.config.location=file:config/ci.properties

    - name: Run Java App
      run: .github/workflows/run_java_app.sh -m library -p library

